<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardPractice2.mappers.boardMapper">
	
	<select id="boardList" resultType="com.board.practice2.DTO.BoardDTO">
		SELECT postNum, postTitle, postWriter, postTime, viewCount, commentCount
			FROM board_table
			ORDER BY postNum DESC
	</select>
	
	<insert id="submitPost" parameterType="com.board.practice2.DTO.BoardDTO">
		INSERT INTO board_table(postTitle, postWriter, postContent)
			VALUES(#{postTitle}, #{postWriter}, #{postContent})
	</insert>
	
	<select id="readPost" parameterType="int" resultType="com.board.practice2.DTO.BoardDTO">
		SELECT postNum, postTitle, postWriter, postContent, postTime, viewCount
			FROM board_table
			WHERE postNum=#{postNum}
	</select>
	
	<update id="plusViewCount" parameterType="int">
		UPDATE board_table
			SET viewCount = viewCount + 1
			WHERE postNum=#{postNum}
	</update>
	
	<delete id="deletePost" parameterType="int">
		DELETE FROM board_table 
			WHERE postNum=#{postNum}
	</delete>
	
	<update id="submitModifyPost" parameterType="com.board.practice2.DTO.BoardDTO">
		UPDATE board_table
			SET postTitle=#{postTitle}, postWriter=#{postWriter}, postContent=#{postContent}
			WHERE postNum=#{postNum}
	</update>
	
	<select id="readComment" resultType="com.board.practice2.DTO.BoardDTO">
		SELECT postNum, commentNum, commentWriter, commentContent, commentTime
			FROM comment_table
			WHERE postNum=#{postNum}
	</select>
	
	<insert id="submitComment" parameterType="com.board.practice2.DTO.BoardDTO">
		INSERT INTO comment_table(postNum, commentWriter, commentContent)
			VALUES(#{postNum}, #{commentWriter}, #{commentContent})
	</insert>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM comment_table 
			WHERE commentNum=#{commentNum}
	</delete>
	
	<update id="updateCommentCount" parameterType="int">
		UPDATE board_table
			SET commentCount=
				(SELECT COUNT(commentNum) 
					FROM comment_table 
					WHERE postNum=#{postNum})
			WHERE postNum=#{postNum}
	</update>
	
	<select id="searchList" parameterType="HashMap" resultType="com.board.practice2.DTO.BoardDTO">
		SELECT postNum, postTitle, postWriter, postTime, viewCount, commentCount
			FROM board_table
			
			<if test='searchOption.equals("searchTitleAndContent")'>
				WHERE postTitle LIKE CONCAT('%', #{searchKeyword}, '%')
					or postContent LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test='searchOption.equals("searchTitle")'>
				WHERE postTitle LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test='searchOption.equals("searchContent")'>
				WHERE postContent LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			<if test='searchOption.equals("searchWriter")'>
				WHERE postWriter LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			
			ORDER BY postNum DESC
	</select>
	
	<insert id="signUp" parameterType="com.board.practice2.DTO.BoardDTO">
		INSERT INTO member_table(userId, userPassword)
			VALUES(#{userId}, #{userPassword})
	</insert>
	
	<select id="login" parameterType="com.board.practice2.DTO.BoardDTO" 
		resultType="com.board.practice2.DTO.BoardDTO">
		SELECT userId, userPassword
			FROM member_table
			WHERE userId=#{userId} and userPassword=#{userPassword}
	</select>
	
</mapper>